/*@tailwind base;*/
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border-width: 0 !important;
}
.invisible {
    visibility: hidden !important;
}
.fixed {
    position: fixed !important;
}
.absolute {
    position: absolute !important;
}
.relative {
    position: relative !important;
}
.inset-y-0 {
    top: 0px !important;
    bottom: 0px !important;
}
.top-0 {
    top: 0px !important;
}
.left-0 {
    left: 0px !important;
}
.right-0 {
    right: 0px !important;
}
.z-10 {
    z-index: 10 !important;
}
.z-40 {
    z-index: 40 !important;
}
.z-50 {
    z-index: 50 !important;
}
.z-0 {
    z-index: 0 !important;
}
.float-right {
    float: right !important;
}
.float-left {
    float: left !important;
}
.clear-both {
    clear: both !important;
}
.-m-48 {
    margin: -12rem !important;
}
.m-0 {
    margin: 0px !important;
}
.m-auto {
    margin: auto !important;
}
.m-2 {
    margin: 0.5rem !important;
}
.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.my-4 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.mr-0 {
    margin-right: 0px !important;
}
.mb-4 {
    margin-bottom: 1rem !important;
}
.mb-6 {
    margin-bottom: 1.5rem !important;
}
.ml-4 {
    margin-left: 1rem !important;
}
.mr-3 {
    margin-right: 0.75rem !important;
}
.mt-4 {
    margin-top: 1rem !important;
}
.ml-1 {
    margin-left: 0.25rem !important;
}
.mt-2 {
    margin-top: 0.5rem !important;
}
.mr-2 {
    margin-right: 0.5rem !important;
}
.ml-2 {
    margin-left: 0.5rem !important;
}
.mt-8 {
    margin-top: 2rem !important;
}
.ml-12 {
    margin-left: 3rem !important;
}
.-mt-px {
    margin-top: -1px !important;
}
.mb-3 {
    margin-bottom: 0.75rem !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.mt-5 {
    margin-top: 1.25rem !important;
}
.mt-6 {
    margin-top: 1.5rem !important;
}
.mr-8 {
    margin-right: 2rem !important;
}
.mr-5 {
    margin-right: 1.25rem !important;
}
.mr-6 {
    margin-right: 1.5rem !important;
}
.mt-3 {
    margin-top: 0.75rem !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.mr-1 {
    margin-right: 0.25rem !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
.ml-3 {
    margin-left: 0.75rem !important;
}
.mt-7 {
    margin-top: 1.75rem !important;
}
.mt-0 {
    margin-top: 0px !important;
}
.ml-0 {
    margin-left: 0px !important;
}
.mt-1 {
    margin-top: 0.25rem !important;
}
.-ml-px {
    margin-left: -1px !important;
}
.box-content {
    box-sizing: content-box !important;
}
.block {
    display: block !important;
}
.inline-block {
    display: inline-block !important;
}
.inline {
    display: inline !important;
}
.flex {
    display: flex !important;
}
.inline-flex {
    display: inline-flex !important;
}
.table {
    display: table !important;
}
.grid {
    display: grid !important;
}
.hidden {
    display: none !important;
}
.h-auto {
    height: auto !important;
}
.h-full {
    height: 100% !important;
}
.h-12 {
    height: 3rem !important;
}
.h-0 {
    height: 0px !important;
}
.h-5 {
    height: 1.25rem !important;
}
.h-8 {
    height: 2rem !important;
}
.h-16 {
    height: 4rem !important;
}
.min-h-screen {
    min-height: 100vh !important;
}
.min-h-full {
    min-height: 100% !important;
}
.w-full {
    width: 100% !important;
}
.w-6\/12 {
    width: 50% !important;
}
.w-8 {
    width: 2rem !important;
}
.w-12 {
    width: 3rem !important;
}
.w-auto {
    width: auto !important;
}
.w-5 {
    width: 1.25rem !important;
}
.w-10 {
    width: 2.5rem !important;
}
.w-9 {
    width: 2.25rem !important;
}
.w-28 {
    width: 7rem !important;
}
.w-\[77\%\] {
    width: 77% !important;
}
.min-w-48 {
    min-width: 12rem !important;
}
.min-w-0 {
    min-width: 0px !important;
}
.max-w-full {
    max-width: 100% !important;
}
.max-w-6xl {
    max-width: 72rem !important;
}
.flex-1 {
    flex: 1 1 0% !important;
}
.flex-auto {
    flex: 1 1 auto !important;
}
.flex-initial {
    flex: 0 1 auto !important;
}
.flex-grow {
    flex-grow: 1 !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.cursor-default {
    cursor: default !important;
}
.list-none {
    list-style-type: none !important;
}
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}
.flex-row {
    flex-direction: row !important;
}
.flex-col {
    flex-direction: column !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.content-center {
    align-content: center !important;
}
.items-center {
    align-items: center !important;
}
.items-stretch {
    align-items: stretch !important;
}
.justify-end {
    justify-content: flex-end !important;
}
.justify-center {
    justify-content: center !important;
}
.justify-between {
    justify-content: space-between !important;
}
.overflow-hidden {
    overflow: hidden !important;
}
.overflow-x-auto {
    overflow-x: auto !important;
}
.overflow-y-auto {
    overflow-y: auto !important;
}
.overflow-x-hidden {
    overflow-x: hidden !important;
}
.overflow-x-scroll {
    overflow-x: scroll !important;
}
.whitespace-nowrap {
    white-space: nowrap !important;
}
.break-words {
    overflow-wrap: break-word !important;
}
.rounded {
    border-radius: 0.25rem !important;
}
.rounded-full {
    border-radius: 9999px !important;
}
.rounded-lg {
    border-radius: 0.5rem !important;
}
.rounded-md {
    border-radius: 0.375rem !important;
}
.rounded-t {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}
.rounded-l-md {
    border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
}
.rounded-r-md {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}
.border {
    border-width: 1px !important;
}
.border-0 {
    border-width: 0px !important;
}
.border-b {
    border-bottom-width: 1px !important;
}
.border-t {
    border-top-width: 1px !important;
}
.border-solid {
    border-style: solid !important;
}
.border-none {
    border-style: none !important;
}
.border-transparent {
    border-color: transparent !important;
}
.border-blueGray-300 {
    --tw-border-opacity: 1 !important;
    border-color: rgba(203, 213, 225, var(--tw-border-opacity)) !important;
}
.border-blueGray-100 {
    --tw-border-opacity: 1 !important;
    border-color: rgba(241, 245, 249, var(--tw-border-opacity)) !important;
}
.border-blueGray-200 {
    --tw-border-opacity: 1 !important;
    border-color: rgba(226, 232, 240, var(--tw-border-opacity)) !important;
}
.border-gray-200 {
    --tw-border-opacity: 1 !important;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity)) !important;
}
.border-gray-300 {
    --tw-border-opacity: 1 !important;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important;
}
.bg-white {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
}
.bg-transparent {
    background-color: transparent !important;
}
.bg-blueGray-50 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(248, 250, 252, var(--tw-bg-opacity)) !important;
}
.bg-blueGray-200 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(226, 232, 240, var(--tw-bg-opacity)) !important;
}
.bg-pink-600 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(219, 39, 119, var(--tw-bg-opacity)) !important;
}
.bg-rose-500 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(244, 63, 94, var(--tw-bg-opacity)) !important;
}
.bg-red-500 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(239, 68, 68, var(--tw-bg-opacity)) !important;
}
.bg-orange-500 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(249, 115, 22, var(--tw-bg-opacity)) !important;
}
.bg-lightBlue-500 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(14, 165, 233, var(--tw-bg-opacity)) !important;
}
.bg-indigo-500 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(99, 102, 241, var(--tw-bg-opacity)) !important;
}
.bg-gray-100 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity)) !important;
}
.bg-blueGray-100 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(241, 245, 249, var(--tw-bg-opacity)) !important;
}
.bg-green-500 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(16, 185, 129, var(--tw-bg-opacity)) !important;
}
.bg-primary-400 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(40, 58, 151, var(--tw-bg-opacity)) !important;
}
.bg-blueGray-800 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(30, 41, 59, var(--tw-bg-opacity)) !important;
}
.bg-blueGray-300 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(203, 213, 225, var(--tw-bg-opacity)) !important;
}
.bg-second-600 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(253, 185, 19, var(--tw-bg-opacity)) !important;
}
.bg-red-400 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(248, 113, 113, var(--tw-bg-opacity)) !important;
}
.bg-primary-300 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(47, 75, 192, var(--tw-bg-opacity)) !important;
}
.p-4 {
    padding: 1rem !important;
}
.p-3 {
    padding: 0.75rem !important;
}
.p-6 {
    padding: 1.5rem !important;
}
.p-2 {
    padding: 0.5rem !important;
}
.p-0 {
    padding: 0px !important;
}
.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.px-3 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}
.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
.px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.py-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}
.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.py-40 {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
}
.py-6 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.py-10 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}
.px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
.pb-4 {
    padding-bottom: 1rem !important;
}
.pl-3 {
    padding-left: 0.75rem !important;
}
.pl-10 {
    padding-left: 2.5rem !important;
}
.pb-32 {
    padding-bottom: 8rem !important;
}
.pt-12 {
    padding-top: 3rem !important;
}
.pr-4 {
    padding-right: 1rem !important;
}
.pl-4 {
    padding-left: 1rem !important;
}
.pt-8 {
    padding-top: 2rem !important;
}
.pt-3 {
    padding-top: 0.75rem !important;
}
.pt-0 {
    padding-top: 0px !important;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.align-baseline {
    vertical-align: baseline !important;
}
.align-middle {
    vertical-align: middle !important;
}
.text-xl {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
}
.text-sm {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
}
.text-base {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
}
.text-xs {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
}
.text-lg {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
}
.text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
}
.font-bold {
    font-weight: 700 !important;
}
.font-semibold {
    font-weight: 600 !important;
}
.font-normal {
    font-weight: 400 !important;
}
.font-medium {
    font-weight: 500 !important;
}
.uppercase {
    text-transform: uppercase !important;
}
.leading-none {
    line-height: 1 !important;
}
.leading-snug {
    line-height: 1.375 !important;
}
.leading-7 {
    line-height: 1.75rem !important;
}
.leading-5 {
    line-height: 1.25rem !important;
}
.text-blueGray-800 {
    --tw-text-opacity: 1 !important;
    color: rgba(30, 41, 59, var(--tw-text-opacity)) !important;
}
.text-black {
    --tw-text-opacity: 1 !important;
    color: rgba(0, 0, 0, var(--tw-text-opacity)) !important;
}
.text-blueGray-700 {
    --tw-text-opacity: 1 !important;
    color: rgba(51, 65, 85, var(--tw-text-opacity)) !important;
}
.text-white {
    --tw-text-opacity: 1 !important;
    color: rgba(255, 255, 255, var(--tw-text-opacity)) !important;
}
.text-blueGray-300 {
    --tw-text-opacity: 1 !important;
    color: rgba(203, 213, 225, var(--tw-text-opacity)) !important;
}
.text-blueGray-600 {
    --tw-text-opacity: 1 !important;
    color: rgba(71, 85, 105, var(--tw-text-opacity)) !important;
}
.text-blueGray-500 {
    --tw-text-opacity: 1 !important;
    color: rgba(100, 116, 139, var(--tw-text-opacity)) !important;
}
.text-blueGray-400 {
    --tw-text-opacity: 1 !important;
    color: rgba(148, 163, 184, var(--tw-text-opacity)) !important;
}
.text-gray-200 {
    --tw-text-opacity: 1 !important;
    color: rgba(229, 231, 235, var(--tw-text-opacity)) !important;
}
.text-gray-300 {
    --tw-text-opacity: 1 !important;
    color: rgba(209, 213, 219, var(--tw-text-opacity)) !important;
}
.text-gray-400 {
    --tw-text-opacity: 1 !important;
    color: rgba(156, 163, 175, var(--tw-text-opacity)) !important;
}
.text-gray-500 {
    --tw-text-opacity: 1 !important;
    color: rgba(107, 114, 128, var(--tw-text-opacity)) !important;
}
.text-gray-600 {
    --tw-text-opacity: 1 !important;
    color: rgba(75, 85, 99, var(--tw-text-opacity)) !important;
}
.text-gray-700 {
    --tw-text-opacity: 1 !important;
    color: rgba(55, 65, 81, var(--tw-text-opacity)) !important;
}
.text-gray-900 {
    --tw-text-opacity: 1 !important;
    color: rgba(17, 24, 39, var(--tw-text-opacity)) !important;
}
.text-red-500 {
    --tw-text-opacity: 1 !important;
    color: rgba(239, 68, 68, var(--tw-text-opacity)) !important;
}
.text-lightBlue-500 {
    --tw-text-opacity: 1 !important;
    color: rgba(14, 165, 233, var(--tw-text-opacity)) !important;
}
.text-rose-600 {
    --tw-text-opacity: 1 !important;
    color: rgba(225, 29, 72, var(--tw-text-opacity)) !important;
}
.text-pink-400 {
    --tw-text-opacity: 1 !important;
    color: rgba(244, 114, 182, var(--tw-text-opacity)) !important;
}
.text-blue-500 {
    --tw-text-opacity: 1 !important;
    color: rgba(59, 130, 246, var(--tw-text-opacity)) !important;
}
.underline {
    text-decoration: underline !important;
}
.antialiased {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
.placeholder-blueGray-300::-moz-placeholder {
    --tw-placeholder-opacity: 1 !important;
    color: rgba(203, 213, 225, var(--tw-placeholder-opacity)) !important;
}
.placeholder-blueGray-300::placeholder {
    --tw-placeholder-opacity: 1 !important;
    color: rgba(203, 213, 225, var(--tw-placeholder-opacity)) !important;
}
.opacity-50 {
    opacity: 0.5 !important;
}
.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.outline-none {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
}
.ring {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}
.ring-red-300 {
    --tw-ring-opacity: 1 !important;
    --tw-ring-color: rgba(252, 165, 165, var(--tw-ring-opacity)) !important;
}
.filter {
    filter: var(--tw-filter) !important;
}
.transition-all {
    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 150ms !important;
}
.transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter !important;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 150ms !important;
}
.duration-150 {
    transition-duration: 150ms !important;
}
.ease-linear {
    transition-timing-function: linear !important;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}

body {
    font-family: 'Sarabun', sans-serif;
}

.theme-color-19 {
    --theme-color: rgb(33, 51, 141);
}

small {
    font-size: 13px;
}

.top-header .header-dropdown li:hover i {
    color: white;
    transition: all 0.5s ease;
}

header.marketplace.header-tools {
    position: fixed;
    background-color: white;
    box-shadow: 0 0 5px rgb(0 0 0 / 12%);
}

.theme-card .theme-form input {
    font-size: 14px !important;
    padding: 15px 25px !important;
}

.login-page .theme-card .theme-form input {
    margin-bottom: 8px;
}

.login-page .theme-card .theme-form .form-row,
.login-page .theme-card .theme-form .form-group {
    margin-bottom: 16px;
}

.pixelstrap a {
    letter-spacing: normal;
    font-size: 16px;
}

.checkout-page .checkout-form input {
    background-color: white !important;
}

.hover\:text-blueGray-700:hover {
    --tw-text-opacity: 1 !important;
    color: rgba(51, 65, 85, var(--tw-text-opacity)) !important;
}

.hover\:text-blueGray-800:hover {
    --tw-text-opacity: 1 !important;
    color: rgba(30, 41, 59, var(--tw-text-opacity)) !important;
}

.hover\:text-indigo-600:hover {
    --tw-text-opacity: 1 !important;
    color: rgba(79, 70, 229, var(--tw-text-opacity)) !important;
}

.hover\:text-gray-500:hover {
    --tw-text-opacity: 1 !important;
    color: rgba(107, 114, 128, var(--tw-text-opacity)) !important;
}

.hover\:text-gray-400:hover {
    --tw-text-opacity: 1 !important;
    color: rgba(156, 163, 175, var(--tw-text-opacity)) !important;
}

.hover\:underline:hover {
    text-decoration: underline !important;
}

.hover\:shadow-lg:hover {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.focus\:z-10:focus {
    z-index: 10 !important;
}

.focus\:border-blue-300:focus {
    --tw-border-opacity: 1 !important;
    border-color: rgba(147, 197, 253, var(--tw-border-opacity)) !important;
}

.focus\:outline-none:focus {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
}

.focus\:ring:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

.active\:bg-blueGray-600:active {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(71, 85, 105, var(--tw-bg-opacity)) !important;
}

.active\:bg-blueGray-400:active {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(148, 163, 184, var(--tw-bg-opacity)) !important;
}

.active\:bg-gray-100:active {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity)) !important;
}

.active\:text-gray-700:active {
    --tw-text-opacity: 1 !important;
    color: rgba(55, 65, 81, var(--tw-text-opacity)) !important;
}

.active\:text-gray-500:active {
    --tw-text-opacity: 1 !important;
    color: rgba(107, 114, 128, var(--tw-text-opacity)) !important;
}

.disabled\:cursor-not-allowed:disabled {
    cursor: not-allowed !important;
}

.disabled\:opacity-50:disabled {
    opacity: 0.5 !important;
}

@media (min-width: 640px) {
    .sm\:ml-0 {
        margin-left: 0px !important;
    }
    .sm\:block {
        display: block !important;
    }
    .sm\:flex {
        display: flex !important;
    }
    .sm\:hidden {
        display: none !important;
    }
    .sm\:h-20 {
        height: 5rem !important;
    }
    .sm\:w-1\/2 {
        width: 50% !important;
    }
    .sm\:w-1\/6 {
        width: 16.666667% !important;
    }
    .sm\:w-1\/3 {
        width: 33.333333% !important;
    }
    .sm\:flex-1 {
        flex: 1 1 0% !important;
    }
    .sm\:items-center {
        align-items: center !important;
    }
    .sm\:justify-start {
        justify-content: flex-start !important;
    }
    .sm\:justify-between {
        justify-content: space-between !important;
    }
    .sm\:rounded-lg {
        border-radius: 0.5rem !important;
    }
    .sm\:px-6 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    .sm\:pt-0 {
        padding-top: 0px !important;
    }
    .sm\:text-left {
        text-align: left !important;
    }
    .sm\:text-right {
        text-align: right !important;
    }
}

@media (min-width: 768px) {
    .md\:fixed {
        position: fixed !important;
    }
    .md\:relative {
        position: relative !important;
    }
    .md\:left-0 {
        left: 0px !important;
    }
    .md\:top-0 {
        top: 0px !important;
    }
    .md\:bottom-0 {
        bottom: 0px !important;
    }
    .md\:mt-4 {
        margin-top: 1rem !important;
    }
    .md\:ml-64 {
        margin-left: 16rem !important;
    }
    .md\:block {
        display: block !important;
    }
    .md\:flex {
        display: flex !important;
    }
    .md\:hidden {
        display: none !important;
    }
    .md\:min-h-full {
        min-height: 100% !important;
    }
    .md\:w-64 {
        width: 16rem !important;
    }
    .md\:w-4\/12 {
        width: 33.333333% !important;
    }
    .md\:w-8\/12 {
        width: 66.666667% !important;
    }
    .md\:min-w-full {
        min-width: 100% !important;
    }
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    .md\:flex-row {
        flex-direction: row !important;
    }
    .md\:flex-col {
        flex-direction: column !important;
    }
    .md\:flex-nowrap {
        flex-wrap: nowrap !important;
    }
    .md\:items-stretch {
        align-items: stretch !important;
    }
    .md\:justify-start {
        justify-content: flex-start !important;
    }
    .md\:justify-end {
        justify-content: flex-end !important;
    }
    .md\:justify-between {
        justify-content: space-between !important;
    }
    .md\:overflow-hidden {
        overflow: hidden !important;
    }
    .md\:overflow-y-auto {
        overflow-y: auto !important;
    }
    .md\:border-t-0 {
        border-top-width: 0px !important;
    }
    .md\:border-l {
        border-left-width: 1px !important;
    }
    .md\:px-10 {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
    .md\:pb-2 {
        padding-bottom: 0.5rem !important;
    }
    .md\:pt-32 {
        padding-top: 8rem !important;
    }
    .md\:text-left {
        text-align: left !important;
    }
    .md\:text-white {
        --tw-text-opacity: 1 !important;
        color: rgba(255, 255, 255, var(--tw-text-opacity)) !important;
    }
    .md\:opacity-100 {
        opacity: 1 !important;
    }
    .md\:shadow-none {
        --tw-shadow: 0 0 #0000 !important;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
    }
}

@media (min-width: 1024px) {
    .lg\:ml-auto {
        margin-left: auto !important;
    }
    .lg\:mt-5 {
        margin-top: 1.25rem !important;
    }
    .lg\:inline-block {
        display: inline-block !important;
    }
    .lg\:w-6\/12 {
        width: 50% !important;
    }
    .lg\:px-8 {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .lg\:px-10 {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
}

@media (min-width: 1280px) {
    .xl\:w-3\/12 {
        width: 25% !important;
    }
    .xl\:w-4\/12 {
        width: 33.333333% !important;
    }
    .xl\:w-6\/12 {
        width: 50% !important;
    }
}

