/*@tailwind base;*/
@tailwind utilities;

body {
    font-family: 'Sarabun', sans-serif;
}

.theme-color-19 {
    --theme-color: rgb(33, 51, 141);
}

small {
    font-size: 13px;
}

.top-header .header-dropdown li:hover i {
    color: white;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header.marketplace.header-tools {
    position: fixed;
    background-color: white;
    box-shadow: 0 0 5px rgb(0 0 0 / 12%);
}

.theme-card .theme-form input {
    font-size: 14px !important;
    padding: 15px 25px !important;
}

.login-page .theme-card .theme-form input {
    margin-bottom: 8px;
}

.login-page .theme-card .theme-form .form-row,
.login-page .theme-card .theme-form .form-group {
    margin-bottom: 16px;
}

.pixelstrap a {
    letter-spacing: normal;
    font-size: 16px;
}

.checkout-page .checkout-form input {
    background-color: white !important;
}

.btn-solid.btn-sm {
    padding: 5px 16px;
}

.breadcrumb-section {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}

.checkout-page .checkout-form select {
    background-color: white;
}
