/*@tailwind base;*/
@tailwind utilities;

.theme-color-19 {
    --theme-color: rgb(33,51,141);
}

small {
    font-size: 13px;
}

.top-header .header-dropdown li:hover i {
    color: white;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.theme-card .theme-form input {
    font-size: 14px !important;
    padding: 15px 25px !important;
}
