.top-header .header-contact {
    padding: 0;
}

.top-header .header-dropdown li {
    padding: 0;
}

.top-header {
    height: 32px;
    display: flex;
    align-items: center;
    background-color: rgb(51, 51, 51);

    .onhover-dropdown .onhover-show-div {
        top: 26px;
    }
}
